# Load relavent labiraries

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
sn.set()

# load the data set

In [111]:
Data = pd.read_csv('patients.csv')
Data.head()

   PatientID       Name  Age     Diagnosis  LabResult
0       1001  Patient_1   20      Diabetes        167
1       1002  Patient_2   74      Diabetes        153
2       1003  Patient_3   40  Hypertension        196
3       1004  Patient_4   23           NaN        157
4       1005  Patient_5   35      Diabetes        115

In [113]:
Data.describe(include = 'all')

          PatientID       Name         Age Diagnosis   LabResult
count    100.000000        100  100.000000        79  100.000000
unique          NaN        100         NaN         4         NaN
top             NaN  Patient_1         NaN       Flu         NaN
freq            NaN          1         NaN        27         NaN
mean    1050.500000        NaN   48.220000       NaN  140.340000
std       29.011492        NaN   17.538172       NaN   36.387149
min     1001.000000        NaN   20.000000       NaN   80.000000
25%     1025.750000        NaN   35.750000       NaN  108.000000
50%     1050.500000        NaN   47.000000       NaN  137.000000
75%     1075.250000        NaN   62.250000       NaN  172.000000
max     1100.000000        NaN   78.000000       NaN  199.000000

In [115]:
print('Data Before removing missing values:',Data.shape)

Data Before removing missing values: (100, 5)

# checking is their mising values

In [118]:
Data.isnull().sum()

PatientID     0
Name          0
Age           0
Diagnosis    21
LabResult     0
dtype: int64

# removing missing values

In [121]:
Data = Data.dropna(axis = 0)

In [123]:
Data.isnull().sum()

PatientID    0
Name         0
Age          0
Diagnosis    0
LabResult    0
dtype: int64

In [125]:
print('Data Before removing missing values:',Data.shape)

Data Before removing missing values: (79, 5)

In [127]:
Data['Diagnosis'].unique()

array(['Diabetes', 'Hypertension', 'Flu', 'Common Cold'], dtype=object)

In [129]:
data_mapped = Data.copy()

# encoding diagnosis column into numbers

In [131]:
data_mapped['Diagnosis_encoded'] = data_mapped['Diagnosis'].map({'Diabetes':0,'Hypertension':1,'Flu':2,'Common Cold':3})
data_mapped.head()

   PatientID       Name  Age     Diagnosis  LabResult  Diagnosis_encoded
0       1001  Patient_1   20      Diabetes        167                  0
1       1002  Patient_2   74      Diabetes        153                  0
2       1003  Patient_3   40  Hypertension        196                  1
4       1005  Patient_5   35      Diabetes        115                  0
5       1006  Patient_6   54           Flu         98                  2

In [133]:
data_mapped.dtypes

PatientID             int64
Name                 object
Age                   int64
Diagnosis            object
LabResult             int64
Diagnosis_encoded     int64
dtype: object

# saving the cleaned data

In [135]:
data_mapped.to_csv('patient_cleaned.csv', index=False)